$font-primary: "Pearl";
$font-secondary: "Afacad";

$font-weight-regular: 400;
$font-weight-medium: 400;
$font-weight-bold: 400;

$font-size-xs: 16px;
$font-size-sm: 20px;
$font-size-md: 32px;
$font-size-lg: 48px;
$font-size-huge: 96px;
$font-size-giant: 128px;

$line-height-xs: 21px;
$line-height-sm: 27px;
$line-height-md: 44px;
$line-height-lg: 66px;
$line-height-huge: 132px;
$line-height-giant: 175px;
