@use "@/styles/tokens/" as *;
@use "@/styles/mixins/" as *;

.about {
  min-height: 100dvh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-neutral-20;

  &__text {
    @include typography($font-size-sm, $line-height-sm);
    margin-top: $spacing-xxs;
  }

  &__button {
    margin-top: $spacing-sm;
  }
}
