@use "@/styles/tokens/" as *;
@use "@/styles/mixins/" as *;

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  &--small {
    width: 16px;
  }

  &--medium {
    width: 24px;
  }

  &--light {
    svg path {
      stroke: $color-neutral-20;
    }
  }

  &--primary {
    svg path {
      stroke: $color-primary;
    }
  }

  &--secondary {
    svg path {
      stroke: $color-secondary;
    }
  }
}
