@use "@/styles/tokens/" as *;
@use "@/styles/mixins/typography" as *;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: $spacing-xs 0;
  background-color: $color-neutral-20;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: $spacing-lg;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }

  &__socialMedia {
    display: flex;
    align-items: center;
    gap: $spacing-xxs;
  }

  &__anchor {
    @include typography();
    transition: all ease-in-out 0.2s;
    color: $color-primary;
  }
}
