@use "@/styles/tokens" as *;

@mixin typography(
  $size: $font-size-xs,
  $line-height: $line-height-xs,
  $weight: $font-weight-regular,
  $color: $color-primary,
  $family: $font-secondary,
  $style: normal
) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
  font-family: $family;
  font-style: $style;
}
